In [39]:
import pandas as pd
from pathlib import Path
import os

base_directory = Path(os.getcwd()).parent
file_path = "data\\weather_cracow.csv"
path = os.path.join(base_directory, file_path)

print(path)

c:\Energy-Demand-Prediction\data\weather_cracow.csv

In [40]:
df = pd.read_csv(path, delimiter=",", skiprows=3, parse_dates=["time"], index_col="time")

In [41]:
df.columns

Index(['temperature_2m (°C)', 'rain (mm)', 'snowfall (cm)',
       'apparent_temperature (°C)', 'relative_humidity_2m (%)',
       'weather_code (wmo code)', 'is_day ()'],
      dtype='object')

In [42]:
df.columns = (
    df.columns
    .str.replace("(", "", regex=False)  # remove anything in parentheses
    .str.replace(")", "", regex=False)  # remove anything in parentheses
    .str.replace("°", "", regex=False)        # remove degree symbol
    .str.replace("%", "", regex=False)        # optional: remove percent sign
    .str.replace("  ", " ")                   # fix double spaces
    .str.strip()                              # remove leading/trailing spaces
    .str.lower().str.replace(" ", "_")        # optional: lowercase + underscores
)

In [43]:
df

,temperature_2m_c,rain_mm,snowfall_cm,apparent_temperature_c,relative_humidity_2m,weather_code_wmo_code,is_day
time,,,,,,,
2015-01-02 00:00:00,-1.0,0.0,0.0,-5.5,85,3,0
2015-01-02 01:00:00,-0.1,0.0,0.0,-4.4,84,2,0
2015-01-02 02:00:00,0.0,0.0,0.0,-4.2,85,3,0
2015-01-02 03:00:00,0.5,0.0,0.0,-3.7,86,3,0
2015-01-02 04:00:00,1.1,0.0,0.0,-3.1,87,3,0
...,...,...,...,...,...,...,...
2020-09-30 19:00:00,12.9,0.4,0.0,11.4,92,51,0
2020-09-30 20:00:00,12.5,0.1,0.0,11.1,92,51,0
2020-09-30 21:00:00,12.4,0.0,0.0,11.1,92,3,0
2020-09-30 22:00:00,12.3,0.0,0.0,11.2,92,3,0
2020-09-30 23:00:00,12.3,0.0,0.0,11.3,93,3,0

In [44]:
df.isna().sum()

temperature_2m_c          0
rain_mm                   0
snowfall_cm               0
apparent_temperature_c    0
relative_humidity_2m      0
weather_code_wmo_code     0
is_day                    0
dtype: int64

In [45]:
df["temperature_1h"] = df["temperature_2m_c"].shift(1)
df["temperature_24h"] = df["temperature_2m_c"].shift(24)
df["temperature_rolling_mean_24h"] = df["temperature_2m_c"].rolling(24).mean()
df.isna().sum()

temperature_2m_c                 0
rain_mm                          0
snowfall_cm                      0
apparent_temperature_c           0
relative_humidity_2m             0
weather_code_wmo_code            0
is_day                           0
temperature_1h                   1
temperature_24h                 24
temperature_rolling_mean_24h    23
dtype: int64

In [46]:
df["apparent_temperature_1h"] = df["apparent_temperature_c"].shift(1)
df["apparent_temperature_24h"] = df["apparent_temperature_c"].shift(24)
df["apparent_temperature_rolling_mean_24h"] = df["apparent_temperature_c"].rolling(24).mean()
df.isna().sum()

temperature_2m_c                          0
rain_mm                                   0
snowfall_cm                               0
apparent_temperature_c                    0
relative_humidity_2m                      0
weather_code_wmo_code                     0
is_day                                    0
temperature_1h                            1
temperature_24h                          24
temperature_rolling_mean_24h             23
apparent_temperature_1h                   1
apparent_temperature_24h                 24
apparent_temperature_rolling_mean_24h    23
dtype: int64

In [47]:
df = df.dropna()

In [48]:
base_directory 
name = "data\\weather_data.csv"
full = os.path.join(base_directory, name)
df.to_csv(full)